body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('images/background.jpg')center/cover no-repeat;
}

.images img {
    flex: 0 0 80%;
    min-height: 70vh;
    border-radius: 15px;
    box-shadow: 5px 10 px black;
    position: relative;
    width: 50rem;
    height: auto;
}

.btn {
    display: inline-block;
    background: white;
    color: black;
    border: 3px solid;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 20%;
    box-shadow: 2px 5px black;
    outline: none;
}

.prevBtn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    margin-left: 10px;
}

.nextBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    margin-right: 10px;
}

.btn:active {
    background: grey;
    box-shadow: 1px 1px gray;
}

.btn:hover {
    background: gray;
    color: white;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
    color: white;
}